body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .rock {
    background-color: rgb(148, 81, 81);
  }
  .ghost {
    background-color: rgb(204, 204, 204);
  }
  .electric {
    background-color: rgb(255, 255, 129);
  }
  .bug {
    background-color: #fdd291;
  }
  .poison {
    background-color: #df93fd;
  }
  .normal {
    background-color: #F4F4F4;
  }
  .fairy {
    background-color: rgba(238, 177, 187, 0.863);
  }
  .fire {
    background-color: #ff917d;
  }
  .grass {
    background-color:#b8fdb6;
  }
  .water {
    background-color:#83cbff;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    padding: 3rem 0.5rem;
  }
  .pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .all-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .thumb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 ;
    margin: 1rem;
    border: 1px solid #efefef;
    border-radius: 1.5rem;
    min-width: 300px;
    text-align: center;
    box-shadow: 0rem 1rem 1rem;
  }
  h3 {
    margin-bottom: 0.2rem;
  }
  .thumb-container .number {
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    background-color: rgba(255,255,255,0.3);
  }
  .thumb-container img {
    width: 120px;
    height: 120px;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .thumb-container small {
    text-transform: capitalize;
  }
  .detail-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .detail-wrapper button {
    color: rgb(22, 22, 22);
    padding: .5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.185);
  }
  .load-more {
    background: #f5f5f5 linear-gradient(#f5f5f5,#f1f1f1) repeat-x;
    border-radius: 2px;
    border: 1px solid #c6c6c6;
    color: #444;
    padding: 0.5rem 1.5rem;
    min-width: 50%;
    margin-top: 1rem;
  }
  .button {
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    background-color: #6200ee;
    padding: 1rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .overlay {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 25px;
    right: 0;
    height: 16.5rem;
    width: 22rem;
    opacity: 0;
    transition: .5s ease;
    background-color: #9b9a58;
    border-radius: 1.5rem;
  
  }
  .overlay a {
    color: whitesmoke;
  }
  
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .container {
    height: 20rem;
    width: 25rem;
    min-width: 100px;
    position: relative;
  }
  